In [1]:
# 定义文件名
ACTION_201602_FILE = "data/JData_Action_201602.csv"
ACTION_201603_FILE = "data/JData_Action_201603.csv"
# ACTION_201603_EXTRA_FILE = "data/JData_Action_201603_extra.csv"
ACTION_201604_FILE = "data/JData_Action_201604.csv"
COMMENT_FILE = "data/JData_Comment.csv"
PRODUCT_FILE = "data/JData_Product.csv"
USER_FILE = "data/JData_User.csv"
NEW_USER_FILE = "data/JData_User_New.csv"
USER_TABLE_FILE = "data/user_table.csv"
ITEM_TABLE_FILE = "data/item_table.csv"

In [2]:
import pandas as pd 
import numpy as np
from collections import Counter

In [3]:
num_sample = 1100000
file_list = [ACTION_201602_FILE,ACTION_201603_FILE,ACTION_201604_FILE,USER_FILE,COMMENT_FILE,PRODUCT_FILE]

In [4]:
# for fname in file_list:
#     with open('data_ori/' + fname[5:],'rb') as fi:
#         with open(fname,'wb') as fo:
#             for i in range(num_sample):
#                 fo.write(fi.readline())

import shutil

for fname in file_list:
    shutil.copy('data_ori/' + fname[5:],fname)

In [5]:
# 功能函数: 对每一个user分组的数据进行统计
def add_type_count(group):
    behavior_type = group.type.astype(int)
    # 用户行为类别
    type_cnt = Counter(behavior_type)
    # 1: 浏览 2: 加购 3: 删除
    # 4: 购买 5: 收藏 6: 点击
    group['browse_num'] = type_cnt[1]
    group['addcart_num'] = type_cnt[2]
    group['delcart_num'] = type_cnt[3]
    group['buy_num'] = type_cnt[4]
    group['favor_num'] = type_cnt[5]
    group['click_num'] = type_cnt[6]

    return group[['user_id', 'browse_num', 'addcart_num',
                  'delcart_num', 'buy_num', 'favor_num',
                  'click_num']]

In [12]:
#　对action数据进行统计
# 根据自己的需求调节chunk_size大小
def get_from_action_data(fname, chunk_size=100000):
    reader = pd.read_csv(fname, header=0, iterator=True)
    chunks = []
    loop = True
    df_ac = 1
    while loop:
        try:
            # 只读取user_id和type两个字段
            chunk = reader.get_chunk(chunk_size)[["user_id", "type"]]
            temp = chunk.groupby(['user_id'], as_index=False).apply(add_type_count)
            chunks.append(temp)
            if len(chunks)%15 == 0:
                df_ac = pd.concat(chunks,ignore_index=True)
                df_ac = df_ac.groupby(['user_id'], as_index=False).sum()
                df_ac = df_ac.drop_duplicates('user_id')
                chunks = [df_ac]
                print(len(df_ac.index))
        except StopIteration:
            loop = False
            print("Iteration is stopped")
    # 将块拼接为pandas dataframe格式
#     df_ac = pd.concat(chunks, ignore_index=True)
    # 按user_id分组，对每一组进行统计
#     df_ac = df_ac.groupby(['user_id'], as_index=False).apply(add_type_count)
    # 将重复的行丢弃
#     df_ac = df_ac.drop_duplicates('user_id')

    return df_ac

In [8]:
# 将各个action数据的统计量进行聚合
def merge_action_data():
    df_ac = []
    df_ac.append(get_from_action_data(fname=ACTION_201602_FILE))
    df_ac.append(get_from_action_data(fname=ACTION_201603_FILE))
#     df_ac.append(get_from_action_data(fname=ACTION_201603_EXTRA_FILE))
    df_ac.append(get_from_action_data(fname=ACTION_201604_FILE))

    df_ac = pd.concat(df_ac, ignore_index=True)
    # 用户在不同action表中统计量求和
    df_ac = df_ac.groupby(['user_id'], as_index=False).sum()
    #　构造转化率字段
    df_ac['buy_addcart_ratio'] = df_ac['buy_num'] / df_ac['addcart_num']
    df_ac['buy_browse_ratio'] = df_ac['buy_num'] / df_ac['browse_num']
    df_ac['buy_click_ratio'] = df_ac['buy_num'] / df_ac['click_num']
    df_ac['buy_favor_ratio'] = df_ac['buy_num'] / df_ac['favor_num']
    
    # 将大于１的转化率字段置为１(100%)
    df_ac.ix[df_ac['buy_addcart_ratio'] > 1., 'buy_addcart_ratio'] = 1.
    df_ac.ix[df_ac['buy_browse_ratio'] > 1., 'buy_browse_ratio'] = 1.
    df_ac.ix[df_ac['buy_click_ratio'] > 1., 'buy_click_ratio'] = 1.
    df_ac.ix[df_ac['buy_favor_ratio'] > 1., 'buy_favor_ratio'] = 1.

    return df_ac

In [9]:
#　从JData_User表中抽取需要的字段
def get_from_jdata_user():
    df_usr = pd.read_csv(USER_FILE, header=0,encoding='gbk')
    df_usr = df_usr[["user_id", "age", "sex", "user_lv_cd"]]
    return df_usr

In [13]:
user_base = get_from_jdata_user()
user_behavior = merge_action_data()

# 连接成一张表，类似于SQL的左连接(left join)
user_behavior = pd.merge(user_base, user_behavior, on=['user_id'], how='left')
# 保存为user_table.csv
user_behavior.to_csv(USER_TABLE_FILE, index=False)

22129
33349
40607
46269
51353
55747
59588
62950
66453
69432
72024
Iteration is stopped
22186
35573
44289
50853
56123
60530
64563
67934
70886
73531
75941
78266
79873
81704
83245
84904
86369
87926
89326
90612
91633
92579
93613
94492
95397
96087
Iteration is stopped
23653
36121
44573
51481
57297
61390
65014
68207
71017
73354
75353
76938
78475
Iteration is stopped

In [187]:
#!python create_item_table.py

In [14]:
df_usr = pd.read_csv(USER_TABLE_FILE,header=0,encoding='gbk')
#查看前5条数据
df_usr.head(5)

,user_id,age,sex,user_lv_cd,browse_num,addcart_num,delcart_num,buy_num,favor_num,click_num,buy_addcart_ratio,buy_browse_ratio,buy_click_ratio,buy_favor_ratio
0,200001,56岁以上,2.0,5,8436.0,952.0,208.0,60.0,0.0,16859.0,0.063025,0.007112,0.003559,1.000000
1,200002,-1,0.0,1,11811.0,0.0,0.0,0.0,0.0,26900.0,NaN,0.000000,0.000000,NaN
2,200003,36-45岁,1.0,4,15142.0,229.0,1.0,0.0,46.0,27283.0,0.000000,0.000000,0.000000,0.000000
3,200004,-1,2.0,1,1734.0,0.0,0.0,0.0,0.0,1921.0,NaN,0.000000,0.000000,NaN
4,200005,16-25岁,0.0,4,3532.0,73.0,9.0,41.0,64.0,5656.0,0.561644,0.011608,0.007249,0.640625

In [15]:
df_usr = df_usr.fillna(0)
df_usr.head(5)

,user_id,age,sex,user_lv_cd,browse_num,addcart_num,delcart_num,buy_num,favor_num,click_num,buy_addcart_ratio,buy_browse_ratio,buy_click_ratio,buy_favor_ratio
0,200001,56岁以上,2.0,5,8436.0,952.0,208.0,60.0,0.0,16859.0,0.063025,0.007112,0.003559,1.000000
1,200002,-1,0.0,1,11811.0,0.0,0.0,0.0,0.0,26900.0,0.000000,0.000000,0.000000,0.000000
2,200003,36-45岁,1.0,4,15142.0,229.0,1.0,0.0,46.0,27283.0,0.000000,0.000000,0.000000,0.000000
3,200004,-1,2.0,1,1734.0,0.0,0.0,0.0,0.0,1921.0,0.000000,0.000000,0.000000,0.000000
4,200005,16-25岁,0.0,4,3532.0,73.0,9.0,41.0,64.0,5656.0,0.561644,0.011608,0.007249,0.640625

In [16]:
#购买数为0的后5条数据
df_usr[df_usr['buy_num'] == 0].tail(5)

,user_id,age,sex,user_lv_cd,browse_num,addcart_num,delcart_num,buy_num,favor_num,click_num,buy_addcart_ratio,buy_browse_ratio,buy_click_ratio,buy_favor_ratio
105314,305315,36-45岁,2.0,2,100.0,0.0,0.0,0.0,0.0,165.0,0.0,0.0,0.0,0.0
105315,305316,36-45岁,1.0,2,304.0,0.0,0.0,0.0,0.0,224.0,0.0,0.0,0.0,0.0
105318,305319,26-35岁,0.0,3,162762.0,519.0,0.0,0.0,0.0,343097.0,0.0,0.0,0.0,0.0
105319,305320,36-45岁,2.0,2,4210.0,122.0,0.0,0.0,0.0,12999.0,0.0,0.0,0.0,0.0
105320,305321,36-45岁,2.0,3,196.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
#删除购买数为0的用户
df_usr = df_usr[df_usr['buy_num'] != 0]

In [18]:
#输出格式设置，保留3位小数
pd.options.display.float_format = '{:,.3f}'.format

In [19]:
#输出usr table的统计信息
df_usr.describe()

,user_id,sex,user_lv_cd,browse_num,addcart_num,delcart_num,buy_num,favor_num,click_num,buy_addcart_ratio,buy_browse_ratio,buy_click_ratio,buy_favor_ratio
count,"29,235.000","29,235.000","29,235.000","29,235.000","29,235.000","29,235.000","29,235.000","29,235.000","29,235.000","29,235.000","29,235.000","29,235.000","29,235.000"
mean,"250,729.826",1.024,4.272,"31,628.499",960.431,366.424,105.533,167.352,"53,687.466",0.336,0.018,0.030,0.839
std,"29,980.742",0.959,0.808,"76,450.490","2,286.577","1,239.461",169.629,696.319,"137,741.511",0.335,0.041,0.139,0.320
min,"200,001.000",0.000,1.000,1.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,"225,027.000",0.000,4.000,"2,626.000",86.000,0.000,21.000,0.000,"4,254.500",0.071,0.002,0.001,1.000
50%,"249,145.000",1.000,4.000,"9,686.000",306.000,42.000,53.000,0.000,"16,095.000",0.200,0.006,0.004,1.000
75%,"276,245.000",2.000,5.000,"30,684.000",943.500,260.000,122.000,51.000,"50,710.000",0.500,0.017,0.011,1.000
max,"305,318.000",2.000,5.000,"2,671,508.000","94,489.000","64,445.000","4,592.000","22,889.000","5,686,737.000",1.000,1.000,1.000,1.000

In [27]:
#查看购买数小于2，浏览数大于150000的用户
df_usr[(df_usr['buy_num'] < 2) & (df_usr['browse_num'] > 150000)]

,user_id,age,sex,user_lv_cd,browse_num,addcart_num,delcart_num,buy_num,favor_num,click_num,buy_addcart_ratio,buy_browse_ratio,buy_click_ratio,buy_favor_ratio
5472,205473,26-35岁,2.000,4,"251,302.000","4,804.000","4,727.000",1.000,"5,352.000","540,569.000",0.000,0.000,0.000,0.000
9495,209496,26-35岁,2.000,5,"182,760.000","1,589.000",758.000,1.000,0.000,"402,197.000",0.001,0.000,0.000,1.000
49702,249703,26-35岁,0.000,5,"168,750.000","6,420.000",738.000,1.000,902.000,"201,651.000",0.000,0.000,0.000,0.001
66501,266502,26-35岁,1.000,5,"197,132.000","7,081.000","1,088.000",1.000,"2,503.000","323,625.000",0.000,0.000,0.000,0.000
82261,282262,26-35岁,1.000,4,"246,000.000","3,306.000","2,113.000",1.000,"1,218.000","454,936.000",0.000,0.000,0.000,0.001
96463,296464,46-55岁,0.000,4,"746,738.000","20,799.000","11,084.000",1.000,"1,013.000","1,239,342.000",0.000,0.000,0.000,0.001
103879,303880,16-25岁,0.000,3,"151,074.000","3,278.000","2,235.000",1.000,85.000,"265,271.000",0.000,0.000,0.000,0.012

In [28]:
#记录条数
len(df_usr.index)

29235

In [29]:
#前五条数据
df_usr.head(5)

,user_id,age,sex,user_lv_cd,browse_num,addcart_num,delcart_num,buy_num,favor_num,click_num,buy_addcart_ratio,buy_browse_ratio,buy_click_ratio,buy_favor_ratio
0,200001,56岁以上,2.000,5,"8,436.000",952.000,208.000,60.000,0.000,"16,859.000",0.063,0.007,0.004,1.000
4,200005,16-25岁,0.000,4,"3,532.000",73.000,9.000,41.000,64.000,"5,656.000",0.562,0.012,0.007,0.641
13,200014,26-35岁,2.000,4,"62,675.000","3,349.000",656.000,20.000,0.000,"75,770.000",0.006,0.000,0.000,1.000
14,200015,26-35岁,1.000,3,"272,416.000","4,335.000",670.000,279.000,799.000,"462,887.000",0.064,0.001,0.001,0.349
16,200017,36-45岁,2.000,4,"8,346.000",0.000,0.000,448.000,0.000,"14,977.000",1.000,0.054,0.030,1.000